body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/

.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/

.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/

.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/

.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}
.redExample2 {
  width: 80px;
  background-color: red;
}

.redExample4 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  background-color: red;
}

.redsquare {
  width: 50px;
  height: 50px;
  background-color: red;
  align-self:center;
  margin: auto;
}
.blueExample6 {
  width: 100px;
  background-color: blue;
}

.redExample6 {
  display:flex;
  flex: 1;
  background-color:red;

}

.redExample62 {
  display:flex;
  flex: 1;
  background-color:red;

}

.blueExample7 {
  display: flex;
  flex:1;
  flex-direction:row-reverse;
  background-color:blue;;
  position:relative;
}

.transparent1 {
  height: 20px; 
  display: flex;
  flex:1;
  vertical-align: middle;
  flex-direction: row-reverse;
  background-color:transparent;
  position: relative;
}

.row8yellow{
  display:flex;
  flex:1;
  row-gap:10px;
  justify-content:space-between;

}

.block{
  display:flex;
  background-color:orange;
  width:120px;
  position:relative;
}

.row9yellow{
  display:flex;
  flex:1;
  row-gap:10px;
  justify-content:space-between;
  background-color:orange;

}

.block9{
  display:flex;
  background-color:green;
  position:relative;
  width:20px;
  flex-shrink:3;
}
/* TODO: Add CSS for the rest of your solution below */
